.about_page_left {
  width: 740px;
  height: 680px;
  position: relative;
  display: flex;
}
.about_page_l1 {
  width: 673px;
  height: 550px;
  position: absolute;
  background-image: url("/public/admin_photo/old-sen.jpg");
  z-index: 2;
  background-size: cover;
}
.about_page_l2 {
  width: 367px;
  height: 329px;
  position: absolute;
  margin-left: 320px;
  margin-top: 380px;
  background-image: url("/public/admin_photo/support-local.jpg");
  background-size: cover;
  z-index: 4;
}
.about_page_right {
  width: 550px;
  height: 680px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-top: 50px;
  align-items: center;
}
.about_page_r1 {
  width: 520px;
  height: 120px;

  font-family: "Signika";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #86bc42;
}
.about_page_r21 {
  width: 195px;
  height: 30px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #121212;
}
.about_page_r22 {
  width: 520px;
  height: 72px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4f4f4f;
}

.about_choose_icon1 {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bfd6ca;
  opacity: 0.8;
}
.about_choose_icon2 {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd96a;
  opacity: 0.8;
}
.about_choose_icon3 {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cf3e3b;
  opacity: 0.8;
}
.about_choose_icon4 {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #849d6a;
  opacity: 0.8;
}
.about_choose_icon5 {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4f4f4f;
  opacity: 0.8;
}
.about_choose_icon6 {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2b23e;
  opacity: 0.8;
}
.why_love_us {
  width: 100%;
  height: 680px;
  background-image: url("/public/icons/bg-test.jpg");
  position: relative;
  z-index: 10;
}
.abound_brand {
  width: 100%;
  height: 400px;
  background: #86bc42;
}
.why_love_about {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Signika";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
  z-index: 20;
}
.about_wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1240px;
  height: 380px;
}

.blog_box_about {
  width: 400px;
  height: 380px;
  position: relative;
}
.blog_img_about {
  width: 395px;
  height: 240px;
  background-size: cover;
  position: absolute;
}

.blog_type {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #626974;
  margin-top: 20px;
}

.blog_subject {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #121212;
}
.blog_date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #626974;
}
.blog_subject_info {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}
.about_subject_text {
  margin-top: 270px;
  width: 390px;
  height: 80px;
  margin-left: 30px;
  position: absolute;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #121212;
  z-index: 45;
}
.about_subject_text:hover {
  color: #86bc42;
}
.blog_by {
  margin-top: 340px;
  margin-left: 30px;
  width: 380px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
  position: absolute;
}
.blog_by_css {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4f4f4f;
}
