.homepage {
  background: #ffffff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  width: 100%;
  height: 600px;
}

.home_ads1 {
  width: 100%;
  height: 600px;
  z-index: 4;
  display: flex;
  position: relative;
}
.home_ads {
  height: 600px;
  display: flex;
  position: relative;
}
.swiper_box1 {
  width: 100%;
  height: 600px;
  background-image: url("/public/admin_photo/girl_milk.jpg");
  background-size: cover;
  display: flex;
  position: relative;
}
.swiper_box2 {
  width: 100%;
  height: 600px;
  background-image: url("/public/homepage/woman.jpg");
  background-size: cover;
}

.specialOffer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 30px;
  cursor: pointer;
  background: #f5c34b;
  border-radius: 6px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;

  color: #121212;
}
.big_text {
  text-align: left;
  width: 352px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #468fbc;
  border-radius: 1px solid red;
}
.big_text {
  text-align: left;
  width: 552px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 87px;
  color: #468fbc;
  border-radius: 1px solid red;
}
.small_text {
  font-family: "Lato";
  font-style: normal;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #86bc42;
}

.shop_btn {
  margin-top: 350px;
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 52px;
  gap: 20px;
  cursor: pointer;

  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

/** TopCategories css */

.home_top_categ {
  height: 222px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.home_top {
  width: 100%;
  height: 30px;
  margin-top: 111px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: "Signika";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
}
.prev_btn,
.next_btn {
  width: 5%;
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop_avatars_wrapper {
  width: 90%;
  height: 162px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.home_top_cat {
  width: 125px;
  height: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_top_icon {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_top_icon:hover {
  border: 1px solid #86bc42;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.home_top_tex {
  width: 125px;
  height: 17px;
  margin-top: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
  text-decoration: none;
}
.home_top_tex:hover {
  color: #86bc42;
}

/** SalePage css*/
.sale_page {
  width: 100%;
  height: 300px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  position: relative;
  gap: 30px;
}
.sale_page1 {
  width: 630px;
  height: 300px;
  display: flex;
  background: url("/public/admin_photo/home_fruit.jpg");
  background-size: cover;
}
.sale_page2 {
  width: 300px;
  height: 300px;
  display: flex;
  background: url("/public/admin_photo/bread_home.jpg");
  background-size: cover;
}
.sale_page3 {
  width: 300px;
  height: 300px;
  display: flex;
  background: url("/public/admin_photo/tomato.jpg");
  background-size: cover;
}

.sale_page_info1 {
  width: 107px;
  height: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.sale_page_info2 {
  height: 80px;
  font-family: "Signika";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
}
.sale_page_info3 {
  width: 79px;
  height: 17px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
/** Featured Page */
.shop_filter_box {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_filter_box .button_tex {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* .shop_filter_box :hover {
  color: #ffffff;
}
.shop_filter_box .button_tex:hover {
  color: #86bc42;
} */
.products_slider {
  width: 270px;
  height: 452px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.products:hover {
  border: 1px solid #eaeaea;
}
.products_slider_img_box {
  position: relative;
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}
.products_slider_img_box:hover img {
  width: 215px;
  height: 215px;
}
.products_slider_img_box img {
  width: 230px;
  height: 230px;
  transition: all 0.5s;
}

/** DeliveryPage */

.delivery_home {
  width: 100%;
  height: 149px;
  margin-top: 30px;
  background: #ffffff;
  display: flex;
  position: relative;
}
.delivery_home .delivery_pic {
  width: 194px;
  height: 135px;
  position: absolute;
  margin-left: 13px;
  background: url("/public/icons/Group.png");
  z-index: 4;
}
.delivery_home .delivery_tex {
  width: 100%;
  height: 120px;
  margin-top: 29px;
  position: relative;
  background: #fafaeb;
  border: 1px dashed #86bc42;
  border-radius: 4px;
  z-index: 1;
  display: flex;
}
.delivery_tex .delivery_text {
  font-family: "Signika";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #41544a;
}

/** BlogPage */
.home_blog_p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #121212;
}

/** Why Choose */
.why_choose_icon {
  width: 278px;
  height: 70px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.why_choose_tex {
  width: 278px;
  height: 24px;
  font-family: "Signika";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
}
.why_choose_text {
  width: 278px;
  height: 48px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4f4f4f;
}

/** Our Gallery */
.home_gallery {
  width: 240px;
  height: 200px;
  display: flex;
  position: relative;
}
